<link rel="stylesheet" href="css/home.css">
<div id="main">
    <div id="box">
    </div>
</div>
<ol id="message_container"></ol>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.js"></script>
<script src="js/chatEngine.js"></script>